@font-face {
  font-family: fontGame;
  src: url(../assets/Pony.ttf);
}
.bg_game {
  font-family: fontGame;
}
.mangXucXac {
  display: flex;
}
.xucXac {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.animation2 {
  transform: translateY(-100px);
  transition: all 0.5s;
}
.animation3 {
  transform: translateY(-200px);
  transition: all 1s;
}
.animation4 {
  transform: translateY(-300px);
  transition: all 1.5s;
}
.animation5 {
  transform: translateY(-400px);
  transition: all 2s;
}
.animation6 {
  transform: translateY(-500px);
  transition: all 2.5s;
}
p {
  font-weight: 500;
  color: blue;
}
